
h2 {
  text-align: center;
  color: red;
  margin-top: 1em;
}
.form {
  min-width: 30vw;
  max-width: 40vw;
  min-height: 50vh;
  margin: 4em auto;
  padding: 2em;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
                  90deg,
                  rgba(93, 12, 255, 1) 0%,
                  rgba(155, 0, 250, 1) 100%
  );

  .form__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .log__btn {
    width: 8em;
    margin: 0.5em;
    align-self: center;
    border-radius: 5px;
    border: none;
    background-color: #fd5f15;
      }
}