.container {
  width: 35em;
  margin: 1em;
  padding: 1em;
  align-self: center;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  background: linear-gradient(
                  90deg,
                  rgba(93, 12, 255, 1) 0%,
                  rgba(155, 0, 250, 1) 100%
  );
  h3 {
    font-weight: bolder;
  }
}

.newCardBtn {
  width: 15em;
  align-self: center;
}