.header {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  font-size: larger;

  .userName {
    margin-right: 1em;
    padding: 5px 10px;
  }
  .nav {
  }

  button {
    border: none;
  }
}