.newCardBtn {
  width: 15em;
  align-self: center;
}

.newAddFormsList {
  display: flex;
  flex-direction: row-reverse;
  overflow: auto;

  .newAddForms {
    width: 20em;
    margin-right: 1em;
  }
}