@use "sass:color";

$color-white: #f8f8f8;
$color-green: #61d7c2;
$color-darkgreen: color.scale($color-green, $lightness: -12%);
$color-activegreen: color.scale($color-darkgreen, $lightness: -5%);
$color-blue: #338af1;
$color-darkblue: color.scale($color-blue, $lightness: -7%);
$color-hoverblue: color.scale($color-darkblue, $lightness: -5%);
$color-grey: #9b9b9b;
$color-darkgrey: #545454;
